<div class="container-heading">
<div class="text-center" style="padding:50px 0">
    <h4>Please Give The Card Details</h4> 
    <!-- Main Form -->
    <div class="login-form-1">
      <form id="login-form" class="text-left">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <label for="cardNum" class="sr-only">Card Number</label>
              <input type="text" class="form-control" id="cardNum" name="cardNum" [(ngModel)]="userDetails.card_number" placeholder="enter card number">
            </div>
            <div class="form-group">
              <label for="lg_password" class="sr-only">Pin</label>
              <input type="text" class="form-control" id="pin" name="pin" [(ngModel)]="userDetails.pin" placeholder="enter pin">
            </div>
            <span>{{errMsg}}</span>
          </div>
          <button class="login-button" (click)="onLogin()">Login</button>
        </div>
      </form>
    </div>
    <!-- end:Main Form -->
  </div>
